<div class="container">
  <h1>新規登録</h1>
  <form class="col-lg-5" action="/sign_up" method="POST">
    <div class="controls">
      <div class="form-group">
        <input type="text" name="user_name" placeholder="ユーザー名"><br>
        <input tyoe="text" name="password_digest" placeholder="password"><br>
        <input type="file" name="profile_url">
        <input type="submit" value="新規登録">
      </div>
    </div>
  </form>
</div>